:root {
  --white: #FFFFFF;
  --blue-700: #000056;
  --blue-100: #b6c1ff;
  --rose-500: #ff00d9;
  --system-ui-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  min-width: 375px;
  overflow-x: hidden;
}

body {
  font-family: var(--system-ui-font);
}

.root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
